@font-face{ 
	font-family: 'levon';
	src: url('../fonts/levon.ttf');}
.section-heading-driver {
	color: red;}
.section-heading-constructor {
	color: red;}
.section-email {
	color: red;}
body{
	background-color:#fdf0d5ff;
	font-family:'levon', sans-serif;}
.navigation{
	color:#780000ff;}
a:link{
	color:#ee6c4dff;}
a:visited{
	color:#e0fbfcff;}
.section-heading-driver{
	color:#780000ff;}
.section-heading-traco{	
	color:#780000ff;}
.section-heading-constructor{
	color:#780000ff;}
.email{
	color:#780000ff;}
.select{
	color:#669bbcff;}
.writing{
	color: #003049ff;}
.section-heading-track{
	color:#780000ff;}
div {
	border: 10px solid #780000ff;
	padding: 20px;
	margin: 30px;
}
button:focus {
  border: 2px solid #780000ff;
  background-color: #98c1d9ff;
}
.navbar ul {
  display: flex; 
  align-items: center; 
  list-style: none; 
  background-color: #333; 
  padding: 30px;
  margin: 0;
  gap: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 1px;
}
.navbar a:hover {
  background-color:  #003049ff; 
  border-radius: 1px;
}
.navbar {
  position: fixed;    
  top: 0;             
  left: 0;            
  width: 100%;        
  background-color: #780000ff;
  color:  #003049ff;
  padding: 10px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;      
  }
/*--yinmn-blue: 
--powder-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;*/