@font-face{ 
	font-family: 'levon';
	src: url('levon.ttf');
}
body{
	background-color:#fdf0d5ff;
	font-family: 'levon', sans-serif;
}
.section-external-links {
	color:#003049ff;
}
a:link{
	color:#003049ff;
}
a:visited{
	color:#001427ff;
}
.navigation{
	color:#ee6c4dff
}
.external{
	color: #003049ff;
}
.square {
	border: 10px solid #780000ff;
	padding: 20px;
	margin: 30px;
	display: block;
	margin: 0 auto;
}
.navbar ul {
  display: flex; 
  align-items: center; 
  list-style: none; 
  background-color: #333; 
  padding: 30px;
  margin: 0;
  gap: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 1px;
}
.navbar a:hover {
  background-color: #003049ff; 
  border-radius: 1px;
}
.navbar {
  position: fixed;    
  top: 0;             
  left: 0;            
  width: 100%;        
  background-color: #780000ff;
  color: #001427ff;;
  padding: 10px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;      
  }

/*--yinmn-blue: #3d5a80ff;
--powder-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;*/
