@font-face{ 
	font-family: 'levon';
	src: url('levon.ttf');
}
body {
	background-color:#fdf0d5ff;
	font-family: 'levon', sans-serif;
}
nav a{
	display: inline;
	margin-right: 15vw;
}
div {
	color: #780000ff;
	border: 10px solid #780000ff;
	padding: 20px; 
	margin: 30px;
}
.newfont {
    color:#003049ff;
}
a:link {
	color:#e0fbfcff;
}
a:visited {
	color:#e0fbfcff;
}
img{
  width: 100%;
  height: auto;
  border: 5px dotted #780000ff;
  max-width: 600px;
}
#important1{
	font-size: 400%;
}
.navbar ul {
  display: flex; 
  align-items: center; 
  list-style: none; 
  background-color: #780000ff; 
  padding: 10px;
  margin: 0;
}
.mynav { 
    color: #003049ff;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}
.navbar a:hover {
  background-color: #003049ff; 
  border-radius: 1px;
}
.navbar {
  position: fixed;    
  top: 0;             
  left: 0;            
  width: 100%;        
  background-color: #780000ff;
  color: #001427ff;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;      
  }


/*--molten-lava: #780000ff;
--brick-red: #c1121fff;
--papaya-whip: #fdf0d5ff;
--deep-space-blue: #003049ff;
--steel-blue:#003049ff;*/
