@font-face{ 
	font-family: 'levon';
	src: url('levon.ttf');}
body{ 
	background-color:#fdf0d5ff;
	font-family: 'levon', sans-serif;}
.section-heading {
	color:#780000ff;
}
.section-heading-two {
	color:#780000ff;
}
.navigation{
	color:#780000ff; 
}
a:link{
	color:#ee6c4dff;
}
a:visited{
	color:#e0fbfcff;
}
.team-section{
	color:#780000ff; 
}
.lists{
	color:#003049ff;
}
.drivers{
	color:#003049ff;
}
#important2{
	color:#003049ff;
}
#important2:hover{
	color:pink;
}
p::first-letter{
	font-size: 200%;
}

.navbar ul {
  display: flex; 
  align-items: center; 
  list-style: none; 
  background-color: #333; 
  padding: 30px;
  margin: 0;
  gap: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 1px;
}
.navbar a:hover {
  background-color: #003049ff; 
  border-radius: 1px;
}
.navbar {
  position: fixed;    
  top: 0;             
  left: 0;            
  width: 100%;        
  background-color:#780000ff;
  color: #780000ff;
  padding: 10px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;      
  }
 

--molten-lava: #780000ff;
--brick-red: #c1121fff;
--papaya-whip: #fdf0d5ff;
--deep-space-blue: #003049ff;
--steel-blue: #669bbcff;
	
/*--yinmn-blue: #3d5a80ff;
--powder-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;*/
