@font-face{ 
	font-family: 'levon';
	src: url('levon.ttf');}
body{ 
	background-color:#3d5a80ff;
	font-family: 'levon', sans-serif;}
.section-heading {
	color:#ee6c4dff;}
.section-heading-two {
	color:#ee6c4dff;}
.navigation{
	color:#ee6c4dff }
a:link{
	color:#ee6c4dff}
a:visited{
	color:#e0fbfcff}
.team-section{
	color:#98c1d9ff }
.lists{
	color:#ee6c4dff}
.drivers{
	color: white;}
#important2{
	color:#ee6c4dff}
#important2:hover{
	color:pink;}
p::first-letter{
	font-size: 200%;}

.navbar ul {
  display: flex; 
  align-items: center; 
  list-style: none; 
  background-color: #333; 
  padding: 30px;
  margin: 0;
  gap: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 1px;
}
.navbar a:hover {
  background-color: #98c1d9ff; 
  border-radius: 1px;
}
.navbar {
  position: fixed;    
  top: 0;             
  left: 0;            
  width: 100%;        
  background-color: #ee6c4dff;
  color: #ee6c4dff;
  padding: 10px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;      
  }

	
/*--yinmn-blue: #3d5a80ff;
--powder-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;*/
